.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.primary-btn {
  background: #1e293b;
  max-width: max-content;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.danger {
  border: 1px solid #ffcccc;
}

.danger-text {
  color: #b91c1c;
}

.danger-desc {
  margin-bottom: 12px;
  color: #444;
}


.loading-state {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

